<div class="row marleft">

    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="clearContent"></div><div class="clearContent"></div><div class="clearContent"></div><div class="clearContent"></div>
  
    <div class="col m12 s12 mat-elevation-z8">

<div style="display: flex;">

    
    <mat-card class="half-width">
      <mat-card-header>
        <mat-card-title>Procurement Milestones</mat-card-title>
      </mat-card-header>
      <mat-table [dataSource]="dataSource3">
        <ng-container matColumnDef="ptsRef">
          <mat-header-cell *matHeaderCellDef> Ref No: </mat-header-cell>
          <mat-cell *matCellDef="let milestone"> {{milestone.ptsRef}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="projectTitle">
          <mat-header-cell *matHeaderCellDef> Project Title </mat-header-cell>
          <mat-cell *matCellDef="let milestone"> {{milestone.projectTitle}} </mat-cell>
        </ng-container>
    
        <!-- <ng-container matColumnDef="update">
          <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
          <mat-cell *matCellDef="let milestone"> {{milestone.update}} </mat-cell>
        </ng-container> -->
  
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let milestone">
            <button mat-icon-button color="primary" aria-label="view" (click)="updateMilestone(milestone)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="['ptsRef', 'projectTitle', 'update']"></mat-header-row>
        <mat-row *matRowDef="let milestone; columns: ['ptsRef', 'projectTitle', 'update'];"></mat-row>
      </mat-table>
    </mat-card>
  
    <mat-card class="half-width">
      <mat-card-header>
        <mat-card-title>Implementation Milestones</mat-card-title>
      </mat-card-header>
      <mat-table [dataSource]="dataSource2">
        <ng-container matColumnDef="ptsRef">
          <mat-header-cell *matHeaderCellDef> Ref No: </mat-header-cell>
          <mat-cell *matCellDef="let milestone"> {{milestone.ptsRef}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="projectTitle">
          <mat-header-cell *matHeaderCellDef> Project Title </mat-header-cell>
          <mat-cell *matCellDef="let milestone"> {{milestone.projectTitle}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let milestone">
            <button mat-icon-button color="primary" aria-label="view" (click)="updateImplementation(milestone)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="['ptsRef', 'projectTitle', 'update']"></mat-header-row>
        <mat-row *matRowDef="let milestone; columns: ['ptsRef', 'projectTitle', 'update'];"></mat-row>
      </mat-table>
    </mat-card>
  
  </div>
  </div>
  </div>
  