<div class="row marleft">

    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="col m12 s12 mat-elevation-z8">

        <div class="col m12 s12 breadcrumb mat-elevation-z8 page-heading">
            <span> Create User Profile </span>
        </div>

        <form [formGroup]="myGroup" (ngSubmit)="updateADPersalLink(myGroup.value)">
            <!-- Hidden -->
            <!--Hidden End-->
            <div class="clearContent"></div>

            <!-- Search Persal-->
            <div class="col m12 s12">
                <div> <span class="sub-header-page">Search for Employee on PERSAL</span></div>
                <mat-form-field class="half-width">
                    <input (keyup)="onKeyEmployee($event.target.value)" type="text" matInput
                        placeholder="Search for Username" formControlName="employee" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee"
                        (optionSelected)="onChangeEmployee($event)">
                        <mat-option *ngFor="let employee of listEmployees" [value]="employee">
                            {{employee.full_names}} : {{employee.surname}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col m12 s12">
                <mat-form-field class="half-width" appearance="">
                    <mat-label>First Names</mat-label>
                    <input matInput type="text" placeholder="First Names" formControlName="full_names">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Surname</mat-label>
                    <input matInput type="text" placeholder="Surname" formControlName="surname">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>PERSAL NO</mat-label>
                    <input matInput type="text" placeholder="PERSAL-No" formControlName="persal_number">
                </mat-form-field>

                <mat-form-field class="half-width" appearance="">
                    <mat-label>Region</mat-label>
                    <input matInput type="text" placeholder="Region" formControlName="region_code">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Organisation</mat-label>
                    <input matInput type="text" placeholder="Organisation" formControlName="organisation_code">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Component</mat-label>
                    <input matInput type="text" placeholder="Component" formControlName="component_code">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Sub Component</mat-label>
                    <input matInput type="text" placeholder="Sub Component" formControlName="sub_component_code">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Paypoint</mat-label>
                    <input matInput type="text" placeholder="Paypoint" formControlName="paypoint_code">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Responsibility</mat-label>
                    <input matInput type="text" placeholder="Responsibility" formControlName="responsibility_code">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Objective</mat-label>
                    <input matInput type="text" placeholder="Objective" formControlName="objective_code">
                </mat-form-field>

                <!-- Search Persal-->
                <div class="col m12 s12">
                    <div> <span class="sub-header-page">Search for user on Active Directory</span></div>
                    <mat-form-field class="half-width">
                        <input (keyup)="onKeyUser($event.target.value)" type="text" matInput formControlName="user"
                            [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayUser"
                            (optionSelected)="onChangeUser($event)">
                            <mat-option *ngFor="let user of listUsers" [value]="user">
                                {{user.primary_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="clearContent"></div>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" placeholder="Username" formControlName="primary_name">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" placeholder="Email" formControlName="primary_email">
                </mat-form-field>
                <mat-form-field class="half-width" appearance="">
                    <mat-label>Tel-No</mat-label>
                    <input matInput type="text" placeholder="Tel-No" formControlName="tel_no">
                </mat-form-field>


            </div>
            <!--User Details End-->
            <div class="clearContent">
                <span class="success"> {{massage}}</span>
            </div>

            <div class="card-container">
                <button type="submit" color="primary" class="card">
                    <span class="material-icons" width="24" height="24" viewBox="0 0 24 24">save</span>
                    <h6>Save</h6>
                </button>

                <button class="card" (click)="resetForm()" color="accent">
                    <span class="material-icons" width="24" height="24" viewBox="0 0 24 24">cancel</span>
                    <h6>Clear</h6>
                </button>
            </div>

            <div class="clearContent"></div>

        </form>


    </div>

</div>