.card-container {
  display: flex;
  flex-wrap: wrap;
}

mat-card {
  flex: 1;
  margin-right: 10px;
}

mat-card-content {
  height: 400px;
  overflow: auto;
}

.custom-button {
  width: 150px; /* Adjust the width to your preference */
  margin-right: 10px; /* Adjust the margin to create space between buttons */
}

.custom-button:hover {
  background-color: #f1f1f1; /* Change to your desired hover background color */
  color: #000; /* Change to your desired hover text color */
  margin-right: 10px; /* Adjust the margin to create space between buttons *
  /* Add any other styles you want to apply on hover */
}

.line{
  border: none;
  border-top: 3px solid rgb(235, 136, 14);
}