

<div class="clearContent"></div><div class="clearContent"></div>

  <div class="card p-3">

    <div class="row">
      <h4>Project Details </h4>
  

                    
  
                    <mat-form-field class="half-width" appearance="outline">
                        <mat-label>Reference</mat-label>
                        <input matInput placeholder="Project Title" [value]="project.ptsRef" disabled>
                      </mat-form-field>
  
                      <mat-form-field class="half-width" appearance="outline">
                        <mat-label>Project Title</mat-label>
                        <input matInput placeholder="Project Title" [value]="project.projectTitle" disabled>
                      </mat-form-field>
              
                      <mat-form-field class="half-width" appearance="outline">
                        <mat-label>Project Description</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.projectDescription" disabled>
                      </mat-form-field>
              
                      <mat-form-field class="half-width" appearance="outline">
                        <mat-label>Estimated Value</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.estimatedValue" disabled>
                      </mat-form-field>
              
                      <mat-form-field class="half-width" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.startDate | date:'dd-MM-yyyy'" disabled>
                      </mat-form-field>
              
                      <mat-form-field class="half-width" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.endDate | date:'dd-MM-yyyy'" disabled>
                      </mat-form-field>
  
  
              
                      <mat-form-field class="half-width" appearance="outline" *ngIf="authenticationService.roleMatch(['Technical_Leader','Management'])">
                        <mat-label>Project Manager</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.projectManager" disabled>
                      </mat-form-field>
  
                      <mat-form-field class="half-width" appearance="outline" *ngIf="authenticationService.roleMatch(['Project_Manager','Management'])">
                        <mat-label>Technical Leader</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.technicalLeader" disabled>
                      </mat-form-field>
              
                      <mat-form-field class="half-width" appearance="outline">
                        <mat-label>Project Category</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.projectCategory" disabled>
                      </mat-form-field>
  
                      <mat-form-field class="half-width" appearance="outline">
                        <mat-label>In-House 
                        </mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.inHouse" disabled>
                      </mat-form-field>
  
                      <mat-form-field class="half-width" appearance="outline">
                        <mat-label>Outsourced
                        </mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.outSourced" disabled>
                      </mat-form-field>
  
                      <mat-form-field class="half-width" appearance="outline" *ngIf="project.comments">
                        <mat-label>Additional Information</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.comments" disabled>
                      </mat-form-field>
                      
                      <mat-form-field class="half-width" appearance="outline" *ngIf="project.reason">
                        <mat-label>Reason</mat-label>
                        <input matInput placeholder="Placeholder" [value]="project.reason" disabled>
                      </mat-form-field>

                      <div *ngIf="authenticationService.roleMatch(['Project_Manager','Technical_Leader'])  && project.status === 'Waiting for Business Case'">
                        <form  (ngSubmit)="uploadBusinessCase()" enctype="multipart/form-data">
                
                          <input type="hidden"  [(ngModel)]="project.status" name="status">
                          <input type="hidden"  [(ngModel)]="project.projectTitle" name="projectTitle">
                          <input type="hidden"  [(ngModel)]="status" name="businessCaseStatus">
                          <input type="hidden"  [(ngModel)]="currentDate" name="businessCaseDate">


                          
                            <h6 class="sub-header-page mat-elevation-z8">Upload Business Case</h6>
                            <div class="clearContent"></div>

                            <!-- <input #fileInput type="file" (change)="onFilechange($event)" style="display:none;" />
                            <mat-form-field class="half-width" (click)="fileInput.click()">
                                <input matInput placeholder="Choose File" required
                                    value="{{fileInput.value.substr(fileInput.value.lastIndexOf('\\')+1)}}">
                                <mat-icon matSuffix>folder_open</mat-icon>
                            </mat-form-field> -->

                            <input #fileInput type="file" (change)="onFilechange($event)" style="display:none;" />
                            <mat-form-field class="half-width" (click)="fileInput.click()">
                              <input matInput placeholder="Choose File" required
                                value="{{fileInput.value.substr(fileInput.value.lastIndexOf('\\')+1)}}">
                              <mat-icon matSuffix>folder_open</mat-icon>
                            </mat-form-field>

                            &nbsp;
                            <button mat-raised-button type="submit" color="primary" [disabled]="documentUploaded">Upload</button>
                            &nbsp;{{ message }}
                            <div class="clearContent"></div>
                   
                          
                        </form>
                      </div>

                      



                        <table>
                          <thead>
                            <tr>
                              <th>File Name</th>
                              <th>Download</th>
                              <!-- <th>Preview</th> -->
                              <th>Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let businessCase of BusinessCase">
                              <tr>
                                <td>{{ businessCase.fileName }}</td>
                                <td>
                                  <mat-icon class="download-icon" (click)="downloadBusinessCase(businessCase.fileId)">get_app</mat-icon>
                                </td>
                                <!-- <td>
                                  <a href="javascript:void(0)" (click)="previewDocument(businessCase.fileId)">Preview</a>
                                </td> -->
                                <td>
                                  <mat-icon class="delete-icon" (click)="deleteFile(businessCase.fileId)">delete</mat-icon>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                        
                        <!-- <div *ngIf="documentUrl">
                          <iframe [src]="documentUrl" width="100%" height="600" target="_blank"></iframe>
                        </div>
                          -->
                  
                        <div class="clearContent"></div><div class="clearContent"></div>
                     
            

  
          <div *ngIf="project">
            <button *ngIf="authenticationService.roleMatch(['Project_Manager'])" class="custom-button" mat-stroked-button color="primary" (click)="editProject(project)" [disabled]="project.status === 'Cancelled'">Edit Project</button>
            <button class="custom-button" mat-stroked-button color="primary" routerLink="/">Back</button>
          </div> 
          
          
  
        </div>

  
  
    
    </div>

  

  