@use '~@angular/material' as mat;

@import '~material-design-icons/iconfont/material-icons.css';
@include mat.core();
@import "m-modified.css";
/* ======== angular material custom theme ======== */
$my-custom-primary-color: (200 : rgb(235,136,14),
contrast: (A100 : #000000,));
$my-app-primary: mat.define-palette($my-custom-primary-color);
$worxstation-custom-primary: mat.define-palette($my-app-primary, 200);
$worxstation-custom-accent: mat.define-palette(mat.$amber-palette, A100);
$worxstation-custom-warn: mat.define-palette(mat.$red-palette);
// worx4u-custom-theme
$worxstation-custom-theme: mat.define-light-theme($worxstation-custom-primary, $worxstation-custom-accent, $worxstation-custom-warn);
// Main theme defination
@include mat.all-component-themes($worxstation-custom-theme);
/* ======== angular material custom theme end======== */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px; color: #333; box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 150px 0;
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-button {width: 8px; height:5px;}
::-webkit-scrollbar-track {background:#eee; border: thin solid lightgray; box-shadow: 0px 0px 3px #dfdfdf inset; border-radius:10px;}
::-webkit-scrollbar-thumb {background:#999; border: thin solid gray; border-radius:10px;}
::-webkit-scrollbar-thumb:hover {background:#7d7d7d;}    
::-moz-scrollbar {width: 8px;}
::-moz-scrollbar-button {width: 8px; height:5px;}
::-moz-scrollbar-track {background:#eee; border: thin solid lightgray; box-shadow: 0px 0px 3px #dfdfdf inset; border-radius:10px;}
::-moz-scrollbar-thumb {background:#999; border: thin solid gray; border-radius:10px;}
::-moz-scrollbar-thumb:hover {background:#7d7d7d;}
html, body { height: 90%; }
body { margin: 0;   font-family: 'lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
.img-fluid {max-width: 35% !important; cursor: pointer; background-color: #FFFFFF;}
.img-fluid-coat { max-width: 100% !important; cursor: pointer; background-color: #FFFFFF;}
.mat-fab{margin-left :15px !important;}
.flex {display: flex;}
.mat-column-action {flex: 0 0 38px;}
.mat-column-view {flex: 0 0 32px;}

.loading-shade {position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.2);
  z-index: 1; display: flex; align-items: center; justify-content: center;}
.page-heading{color: rgb(235,136,14)}
.clearContentLogin {clear:left; margin-top: 0; padding: 10px;}
.clearContent {clear:left; margin-top: 0; padding: 5px;}
.breadcrumb{margin-top:35px; border-radius:4px;  padding:5px !important; color: #FFFFFF; font-weight: bold !important;
  font-size: 1.2em; background:rgb(235,136,14);}
.spacer {flex: 1 1 auto; text-align:right;}  
.half-width {width: 50%; padding: 5px;}  
.kota-width {width: 25%;}
.kota2-width {width: 40%;}
.full-width {width: 100%; padding-bottom: 5px;}
.sub-header{margin:auto ; color: #FFFFFF !important; font-size: 1em; padding: 5px;}
.sub-header-page{margin:auto ; background-color:rgb(231, 231, 229) !important;  display: flex; flex-direction: column;  
  padding: 5px; color:rgb(54,69,79);}
.sub-header-nav{margin:auto; color:rgb(54,69,79); text-align: center; font-size: 1.2em; padding: 10px; background-color: #FFFFFF;}
mat-header-cell {text-align: justify !important; font-weight: bold !important; }
mat-cell{font-weight: 100; color: rgb(54,69,79) !important}
.invisible{display: block; visibility: hidden; height: 0; width: 0;}
//.toolbar .img-fluid:hover {opacity: 0.8;}
table {font-weight: 100 !important;}   
mat-icon{color:rgb(6, 6, 6) !important; cursor: pointer;}
mat-toolbar .toolbar-row{background: rgb(235,136,14) !important; margin-top: 70px;} 
mat-toolbar {position: sticky !important; position: -webkit-sticky !important; /* For macOS/iOS Safari */
  top: 15px !important; /* Sets the sticky toolbar to be on top */
  z-index: 999 !important; /* Ensure that your app's content doesn't overlap the toolbar */
	height: 100px !important; display: flex !important; align-items: center !important; color:rgb(235,136,14) !important;
  background-color: #ffffff !important; 
  font-weight: 600 !important; 
 // background: url('assets/images/menu-bg.png') no-repeat center !important;  
  background-size: 100% 100% !important;  background-position: top 10px !important;
}
mat-panel-title{color: rgb(54, 69, 79) !important; flex: auto;}  
.breadcrumb-dbcurrent{margin-top:10px; border-radius:4px; background: linear-gradient(#808000);}  
.breadcrumb-dbprevious{margin-top:-10px; border-radius:4px; background: linear-gradient(rgb(235,136,14));}
.breadcrumb-dbcapped{margin-top:-10px; border-radius:4px; background: linear-gradient(red);}
.breadcrumb-dbsick{margin-top:-10px; border-radius:4px; background: linear-gradient(#C0C0C0);}
.profile{background-color: rgb(192,192,192) !important;}
.link-heading{text-align: left; color:rgb(192,192,192); font-size: 1rem; text-shadow: 1px 2px 3px rgb(93,15,12); cursor: pointer;}
.mainDiv{position: relative;}
#add-button{top:130px; bottom: 20px; left: 0px; position: fixed;}  
//:host ::ng-deep .mat-form-field-wrapper{padding-bottom:0px; padding-top:0px; font-size: 1em;}  
button:disabled {background: rgb(192,192,192) !important; color:#FFFFFF !important;} 
:host ::ng-deep button{padding-top: 0vh; padding-bottom: 0vh; background: linear-gradient(rgb(235,136,14), #ffa726) !important;
    color:rgb(192,192,192) !important; margin-left :5px ; width:24%;}            
.mat-raised-button{background: linear-gradient(rgb(235,136,14), #ffa726); color: #FFFFFF !important;};
.mat-fab{background: linear-gradient(rgb(235,136,14), #ffa726); color: #FFFFFF !important;};
.not-empty-select.mat-selected {color: rgb(255,255,255) !important; padding: 10px !important;}  
:host ::ng-deep  .mat-select-value-text {color: rgb(255,255,255) !important; padding: 10px !important;}  
::ng-deep  .mat-select-panel {background-color: rgb(235,136,14); size: 50%;}  
.mat-column-delete {flex: 0 0 50px;} 
.mat-column-select {flex: 0 0 50px;}  
.mt-0,  .my-0 {margin-top: 0 !important;}
.mt-0,  .my-1 {margin-top: 0.8rem !important;}
.pb-3,.py-3 {padding-bottom: 1rem !important;}  
.pt-3,.py-3 {padding-top: 1rem !important;}
.accees-denied-content{
  text-align: center;  color: rgb(235,136,14); font-size: 1em; font-weight: bold;
}

.background-snack{
  background-color:  rgb(235,136,14) !important;
  width: 100% !important;
  margin-left :35px !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
@media (max-width: 567px) {
 .img-fluid-coat {
    max-width: 100% !important;
  } 
}
@media (max-width: 567px) {
  mat-form-field {
    flex-direction: row !important;
    flex-wrap: wrap !important;    
    width: 100% !important;  
  }  
}
